[package]
name = "service"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wit-bindgen-rt = { version = "0.21.0", features = ["bitflags"] }

[package.metadata.component]
package = "example:component"

[package.metadata.component.dependencies]

[workspace]
