[package]
name = "cargo-component"
version = "0.1.0"
edition = "2021"
authors = ["Peter Huene <peter@huene.dev>"]
description = "A cargo extension for authoring WebAssembly components"
license = "Apache-2.0 WITH LLVM-exception"
documentation = "https://docs.rs/cargo-component"
categories = ["wasm"]
keywords = ["webassembly", "wasm", "components", "component-model"]
repository = "https://github.com/bytecodealliance/cargo-component"

[dependencies]
cargo-component-core = { workspace = true }
anyhow = { workspace = true }
clap = { workspace = true }
toml_edit = { workspace = true }
pretty_env_logger = { workspace = true }
log = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
heck = { workspace = true }
semver = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
indexmap = { workspace = true }
url = { workspace = true }
wit-bindgen-rust-lib = { workspace = true }
wit-parser = { workspace = true }
wit-component = { workspace = true }
wasm-metadata = { workspace = true }
parse_arg = { workspace = true }
cargo_metadata = { workspace = true }
libc = { workspace = true }
warg-protocol = { workspace = true }
warg-crypto = { workspace = true }
warg-client = { workspace = true }
p256 = { workspace = true }
rand_core = { workspace = true }
rpassword = { workspace = true }
futures = { workspace = true }
bytes = { workspace = true }

[dev-dependencies]
assert_cmd = "2.0.12"
predicates = "3.0.3"
wasmparser = "0.110.0"
wat = "1.0.69"
warg-server = { git = "https://github.com/bytecodealliance/registry" }

[workspace]
members = ["crates/bindings", "crates/macro", "crates/core", "crates/wit"]
exclude = ["target/tests"]

[workspace.dependencies]
cargo-component-core = { path = "crates/core" }
cargo-component-macro = { path = "crates/macro" }
warg-protocol = { git = "https://github.com/bytecodealliance/registry" }
warg-crypto = { git = "https://github.com/bytecodealliance/registry" }
warg-client = { git = "https://github.com/bytecodealliance/registry" }
anyhow = "1.0.72"
clap = { version = "4.3.19", features = ["derive"] }
toml_edit = { version = "0.19.14", features = ["serde"] }
pretty_env_logger = "0.5.0"
log = "0.4.19"
tokio = { version = "1.29.1", default-features = false, features = ["macros", "rt-multi-thread"] }
tokio-util = "0.7.8"
heck = "0.4.1"
semver = "1.0.18"
serde = { version = "1.0.180", features = ["derive"] }
serde_json = "1.0.104"
indexmap = "2.0.0"
url = { version = "2.4.0", features = ["serde"] }
wit-parser = "0.9.2"
wit-component = "0.13.1"
wasm-metadata = "0.10.1"
parse_arg = "0.1.4"
cargo_metadata = "0.17.0"
keyring = "2.0.5"
libc = "0.2.147"
owo-colors = "3.5.0"
unicode-width = "0.1.10"
p256 = "0.13.2" 
rand_core = "0.6.4"
rpassword = "7.2.0"
futures = "0.3.28"
bytes = "1.4.0"
proc-macro2 = "1.0.66"
quote = "1.0.32"
syn = "2.0.28"
wit-bindgen-rust-lib = { git = "https://github.com/bytecodealliance/wit-bindgen" }
wit-bindgen-core = { git = "https://github.com/bytecodealliance/wit-bindgen" }
wit-bindgen-rust = { git = "https://github.com/bytecodealliance/wit-bindgen" }
wit-bindgen = { git = "https://github.com/bytecodealliance/wit-bindgen" }
