[package]
name = "cargo-component"
description = "A cargo extension for authoring WebAssembly components"
version = { workspace = true }
edition = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Peter Huene <peter@huene.dev>"]
license = "Apache-2.0 WITH LLVM-exception"
categories = ["wasm"]
keywords = ["webassembly", "wasm", "components", "component-model"]
repository = "https://github.com/bytecodealliance/cargo-component"

[dependencies]
cargo-component-core = { workspace = true }
anyhow = { workspace = true }
clap = { workspace = true }
toml_edit = { workspace = true }
pretty_env_logger = { workspace = true }
log = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
heck = { workspace = true }
semver = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
indexmap = { workspace = true }
url = { workspace = true }
wit-bindgen-rust-lib = { workspace = true }
wit-parser = { workspace = true }
wit-component = { workspace = true }
wasm-metadata = { workspace = true }
parse_arg = { workspace = true }
cargo_metadata = { workspace = true }
libc = { workspace = true }
warg-protocol = { workspace = true }
warg-crypto = { workspace = true }
warg-client = { workspace = true }
p256 = { workspace = true }
rand_core = { workspace = true }
rpassword = { workspace = true }
futures = { workspace = true }
bytes = { workspace = true }

[dev-dependencies]
assert_cmd = "2.0.12"
predicates = "3.0.4"
wasmparser = "0.113.3"
wat = "1.0.75"
warg-server = "0.1.0"

[workspace]
members = ["crates/bindings", "crates/macro", "crates/core", "crates/wit"]
exclude = ["target/tmp"]

[workspace.dependencies]
cargo-component-core = { path = "crates/core", version = "0.1.0" }
cargo-component-macro = { path = "crates/macro", version = "0.1.0" }
warg-protocol = "0.1.0"
warg-crypto = "0.1.0"
warg-client = "0.1.0"
anyhow = "1.0.75"
clap = { version = "4.4.6", features = ["derive"] }
toml_edit = { version = "0.20.2", features = ["serde"] }
pretty_env_logger = "0.5.0"
log = "0.4.20"
tokio = { version = "1.32.0", default-features = false, features = ["macros", "rt-multi-thread"] }
tokio-util = "0.7.9"
heck = "0.4.1"
semver = "1.0.19"
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.107"
indexmap = "2.0.2"
url = { version = "2.4.1", features = ["serde"] }
wit-parser = "0.11.3"
wit-component = "0.14.5"
wasm-metadata = "0.10.7"
parse_arg = "0.1.4"
cargo_metadata = "0.18.0"
keyring = "2.0.5"
libc = "0.2.148"
owo-colors = "3.5.0"
unicode-width = "0.1.11"
p256 = "0.13.2"
rand_core = "0.6.4"
rpassword = "7.2.0"
futures = "0.3.28"
bytes = "1.5.0"
proc-macro2 = "1.0.68"
quote = "1.0.33"
syn = "2.0.38"
wit-bindgen-rust-lib = "0.12.0"
wit-bindgen-core = "0.12.0"
wit-bindgen-rust = "0.12.0"
wit-bindgen = "0.12.0"
