[package]
name = "cargo-component"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.56"
cargo = "0.61.1"
cargo-util = "0.1.2"
clap = { version = "3.1.8", features = ["derive"] }
toml_edit = { version = "0.13.4", features = ["easy"] }
# TODO: set this back to upstream wit-bindgen once codegen is updated
wit-parser = { git = "https://github.com/peterhuene/wit-bindgen", branch = "update-rust-codegen" }
wit-bindgen-gen-core = { git = "https://github.com/peterhuene/wit-bindgen", branch = "update-rust-codegen" }
wit-bindgen-gen-rust-wasm = { git = "https://github.com/peterhuene/wit-bindgen", branch = "update-rust-codegen" }
wit-component = { git = "https://github.com/peterhuene/wit-bindgen", branch = "update-rust-codegen" }
pretty_env_logger = { version = "0.4.0", optional = true }
log = "0.4.16"

[features]
default = ["pretty_env_logger"]
